body{
    padding: 0;
    margin:0;
}

.login{
    text-align:center;
    width: 100%; height:100vh; 
    /* background: #34495e; */
    background: linear-gradient(
    90deg,
    rgb(16, 199, 255) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

.form-login{
    width: 400px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background: #191919;
    border-radius: 30px;
}

.form-login h2{
    color:white;
    text-transform: uppercase;
    font-weight: 500px;
}
.form-login p{
    color:#646768;
}

.form-login input[type="text"], .form-login input[type="password"]{
    border:0;
    background:none;
    display:block;
    margin: 20px auto;
    text-align:center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
}

.form-login input[type="text"]:focus, .form-login input[type="password"]:focus{
    width:280px;
    border-color: #2ecc71;
}

.submit-login{
    text-decoration: none;
    border:0;
    background:none;
    display:block;
    margin: 20px auto;
    text-align:center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
}
.submit-login:hover{
    background: #2ecc71;
}
a{
    text-decoration:none;
}
ul li {
    list-style-type:none;
}
.social-network{
    width:69%;
    margin:auto;
}
.social-network ul{
    display:flex;
    width:80%;
    
}
.social-network ul li{
    margin-left:10px;
}
.social-network ul li a{
    font-size:13px;
    color:white;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 30%;
}
.error p{
    width: 92%; 
    margin: 0px auto; 
    color: red; 
    text-align: center;
}

span.text-alert{
    color: red;
    font-size: 17px;
    width: 100%;
    display: flex;
    top: 16px;
    justify-content: center;
    font-weight: bold;
  }